body{
    margin:0;
    display:flex;
    justify-content: center;
    height:100vh;
    align-items: center;

}

.input{
    visibility:hidden;
}


.label{
    position:absolute;
    height:40px;
    width:80px;
    background-color:lightgray;
    border-radius:20px;
    cursor:pointer;

}

.circle{
    width:34px;
    background-color:white;
    border-radius: 50%;
    height:34px;
    top: 3px;
    position:absolute;
    left:3px;
    animation:toggleoff .4s 
    linear forwards;
}

.input:checked+label{
    background-color: grey;
}

.input:checked +.label .circle{
    animation:toggleon .4s
    linear forwards;
}
@keyframes toggleon{
    0%{
        transform:translateX(0);
    }

    100%{
        transform:translateX(40px);
    }
}

@keyframes toggleoff{
    0%{
        transform:translateX(40px);
    }

    100%{
        transform:translateX(0);

    }
}
